.flex {
    display : flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.bold {
    font-weight: bolder;
}

.space-between {
    justify-content: space-between;
}